[submodule "AutoMatch-Front"]
	path = AutoMatch-Front
	url = https://github.com/AugustoSodre/AutoMatch-Front.git
[submodule "AutoMatch-Back"]
	path = AutoMatch-Back
	url = https://github.com/AugustoSodre/AutoMatch-Back.git
[submodule "Deep-Learning-Match-Automatch"]
	path = Deep-Learning-Match-Automatch
	url = https://github.com/AugustoSodre/Deep-Learning-Match-Automatch.git
